######################################################################
# Home ALl | 整机回原点
######################################################################
[gcode_macro HOME_ALL]
description: all the motor home
gcode:
 USER_VARIABLE  # loading USER_VARIABLE ! !
 
 G_OPEN
 G90
 G28 Z
 M118 " HOME_ZG finished. " 
 HOME_ZP
 M118  " HOME_ZP finished. " 
 G28 y
 G28 x
 M118 "XY motor finished. "
 HOME_P
 M118 "P motor finished. "
 HOME_G
 M118 "G motor finished. "
 HOME_GR
 M118 "GR motor finished. "
 HOME_R
 M118 "R motor finished. "
 M118 P1 "ALL homing finshied"
 GR_OPEN
 M400
##################################################################
# Home P | 移液器回原点
# 吸液体为负值
#####################################################################
[gcode_macro HOME_P]
gcode:
 
 {% set home_speed = 8 %}
 #home_distance is the p moter move max distance unit mm 
 {% set Home_Distance = 40 %}
 
 # low torque Reverse direction home 3 mm 
 MANUAL_STEPPER STEPPER=stepper_p SET_POSITION=0 SPEED={home_speed} MOVE=-1
 MANUAL_STEPPER STEPPER=stepper_p SET_POSITION=0
 # go home direction to stop 
 MANUAL_STEPPER STEPPER=stepper_p ENABLE=1 SPEED={home_speed} SET_POSITION=0 MOVE={Home_Distance} STOP_ON_ENDSTOP=1 # Homing
 MANUAL_STEPPER STEPPER=stepper_p SET_POSITION=0
 M118 "P motor home finished!" 
 M400

[gcode_macro HOME_ZG]
description: home zg
gcode:
 G28 z
 M400


[gcode_macro HOME_XY]
description: home xy
gcode:
 G28 y
 G28 x
 G90
 M400

#####################################################################
# Home zg  | Z轴（夹爪）回原点
#max distance is 175mm 
#####################################################################
[gcode_macro HOME_ZP]
description: home zp
gcode:

 {% set home_speed =40 %}
 {% set Home_Distance =190 %}
 
 
 MANUAL_STEPPER STEPPER=stepper_zp SET_POSITION=0
 MANUAL_STEPPER STEPPER=stepper_zp ENABLE=1 SPEED={home_speed} SET_POSITION=0 MOVE=-{Home_Distance} STOP_ON_ENDSTOP=1 # Homing
 MANUAL_STEPPER STEPPER=stepper_zp SET_POSITION=0 SPEED={home_speed}  MOVE=2
 MANUAL_STEPPER STEPPER=stepper_zp ENABLE=1 SPEED={home_speed/4} SET_POSITION=0 MOVE=-3 STOP_ON_ENDSTOP=1 # Homing
 MANUAL_STEPPER STEPPER=stepper_zp SET_POSITION=0

 SET_GCODE_VARIABLE MACRO=JOG_ZP VARIABLE=zp_position VALUE=0
 M118 " ZP motor home finished" 
 M118 " ZP current position is {zp_position}
 M400
 
#####################################################################
# Home g | 顶部夹爪回原点 （主夹爪）
#关闭夹爪为正值
#####################################################################

[gcode_macro HOME_G]
description: home g
gcode:
 {% set home_cur = 1 %}
 {% set run_cur =1 %}
 {% set home_speed =5 %}
 {% set Home_Distance =6 %}
 {% set home_g_offset =2 %}

 MANUAL_STEPPER STEPPER=stepper_g SET_POSITION=0 
 MANUAL_STEPPER STEPPER=stepper_g SET_POSITION=0 SPEED={home_speed} MOVE=2
 MANUAL_STEPPER STEPPER=stepper_g SET_POSITION=0 SPEED={home_speed} MOVE=-{Home_Distance} STOP_ON_ENDSTOP=1 
 MANUAL_STEPPER STEPPER=stepper_g SET_POSITION=0 
 M400
#####################################################################
# Home gr | 底部旋转夹爪回原点 （主夹爪）
#关闭夹爪为正值
#####################################################################

[gcode_macro HOME_GR]
description: home gr
gcode:
 
 {% set home_speed =5 %}
 {% set Home_Distance =8 %}
 {% set home_gr_offset =1 %}


 MANUAL_STEPPER STEPPER=stepper_gr SET_POSITION=0 
 MANUAL_STEPPER STEPPER=stepper_gr SPEED={home_speed} MOVE=2
 MANUAL_STEPPER STEPPER=stepper_gr SPEED={home_speed} MOVE=-{Home_Distance} STOP_ON_ENDSTOP=1 
 MANUAL_STEPPER STEPPER=stepper_gr SET_POSITION=0 
 M118 " HOME_GR finished." 
 M400

#####################################################################
# Home R 开盖模块旋转轴复位
#####################################################################

[gcode_macro HOME_R]
description: home r
gcode:

 {% set home_speed =2 %}
 {% set Home_Distance =2 %}
 
 MANUAL_STEPPER STEPPER=stepper_r  SET_POSITION=0 SPEED={home_speed} MOVE={Home_Distance}
 MANUAL_STEPPER STEPPER=stepper_r SET_POSITION=0 
 M400

[gcode_macro JOG_P]
description: move p
variable_p_position: 0
gcode:
 {% set Math_Pi=3.1415926536 %}
 {% set r=6.35 %} 

 #distance=Vol/(Math_Pi*r*r) unit: mm
 #vol unit: ul   
 #speed unit  ul/s 
  
 {% set P_Vol = params.VOL|default(2000)|float %}
 {% set P_Speed = params.SPD|default(4000)|float %}
 MANUAL_STEPPER STEPPER=stepper_p SET_POSITION=0
 MANUAL_STEPPER STEPPER=stepper_p SPEED={P_Speed/(Math_Pi*r*r)} MOVE={P_Vol/(Math_Pi*r*r*-1)}
 M118 "P move {P_Vol/(Math_Pi*r*r)} mm "
 M400


[gcode_macro JOG_ZP]
description: jog zp motor
variable_zp_position: 0
gcode:
 {% set zp_distance = params.DISTANCE|default(10)|float %}
 {% set zp_speed = params.SPD|default(100)|float %}
 

 {% set new_position = printer["gcode_macro JOG_ZP"].zp_position + zp_distance %}
 SET_GCODE_VARIABLE MACRO=JOG_ZP VARIABLE=zp_position VALUE={new_position}
 
 MANUAL_STEPPER STEPPER=stepper_zp SET_POSITION=0
 MANUAL_STEPPER STEPPER=stepper_zp SPEED={zp_speed} MOVE={zp_distance}
 
 M118 "Zp move {zp_distance} mm "
 M118 "Zp current position is  {new_position} mm "
 M400

[gcode_macro JOG_ZG]
description: jog zp motor
variable_zp_position: 0
gcode:
 {% set zp_distance = params.DISTANCE|default(10)|float %}
 {% set zp_speed = params.SPD|default(100)|float %}
  G91
  
  G1 z {zg_abs_pos}  f {zg_Speed * 60}
  G90
  
  M114

 
 M118 "Zp move {zp_distance} mm "
 M118 "Zp current position is  {new_position} mm "
 M400


[gcode_macro JOG_G]
description: jog g motor
variable_g_position: 0
gcode:
 
 {% set g_distance = params.DISTANCE|default(2)|float %}
 {% set g_speed = 15 %}
 
 # 累加总移动距离
 {% set new_position = printer["gcode_macro JOG_G"].g_position + g_distance %}
 SET_GCODE_VARIABLE MACRO=JOG_G VARIABLE=g_position VALUE={new_position}
 
 MANUAL_STEPPER STEPPER=stepper_g SET_POSITION=0
 MANUAL_STEPPER STEPPER=stepper_g SPEED={g_speed} MOVE={g_distance}
 SAVE_VARIABLE VARIABLE="g_pos"  VALUE={new_position}
 M118 "g move {g_distance} mm "
 M118 "g current position is {new_position} mm "
 M400


[gcode_macro JOG_GR]
description: jog GR motor
variable_gr_position: 0
gcode:
 
 {% set gr_distance = params.DISTANCE|default(3)|float %}
 {% set gr_speed = 15 %}
 
 {% set new_position = printer["gcode_macro JOG_GR"].gr_position + gr_distance %}
 SET_GCODE_VARIABLE MACRO=JOG_GR VARIABLE=gr_position VALUE={new_position}
 
 MANUAL_STEPPER STEPPER=stepper_gr SET_POSITION=0
 MANUAL_STEPPER STEPPER=stepper_gr SPEED={gr_speed} MOVE={gr_distance}

 SAVE_VARIABLE VARIABLE="gr_pos"  VALUE={new_position}
 M118 "Gr move {gr_distance} mm "
 M118 "Gr current position is {new_position} mm "
 M400

[gcode_macro ZG_SAFE]
description:
gcode:
 {% set zg_safty_pos = printer["gcode_macro USER_VARIABLE"].zg_safty_pos %}
 {% set zg_Speed = params.SPD|default(300)|float %}

 G90
 G1 z {zg_safty_pos}  f {zg_Speed * 60}
 G91
 M400


[gcode_macro ZP_SAFE]
description:
gcode:
 {% set zp_safty_pos = printer["gcode_macro USER_VARIABLE"].zp_safty_pos %} 
 {% set zp_Speed = params.SPD|default(300)|float %}
 MANUAL_STEPPER STEPPER=stepper_zp SPEED={zp_Speed} MOVE={zp_safty_pos}
 M400






  
  





    

   
