
#####################################################################
# motor base setting
#####################################################################
[printer]
kinematics: cartesian
max_velocity: 380
max_accel: 900
max_z_velocity: 250
max_z_accel: 900


[stepper_x]
step_pin:PD0
dir_pin:PD1
enable_pin: !PD2
endstop_pin: PB6
microsteps: 16
rotation_distance: 60.0044196836
position_endstop: 0
homing_speed: 40
position_min: 0
position_max: 550
homing_retract_dist: 20

[stepper_y]
step_pin: y01:PD0
dir_pin: y01:PD1
enable_pin: !y01:PD2
endstop_pin: y01:PB6
microsteps: 16
position_endstop: 0
rotation_distance: 39.99
homing_speed: 40
position_max: 400
homing_retract_dist: 20
# this axis is for ZG motor
[stepper_z]
step_pin: z01:PD0
dir_pin: z01:PD1
enable_pin: !z01:PC13
endstop_pin: z01:PB6
microsteps: 16
position_endstop: 0
rotation_distance: 39.99
homing_speed: 50
position_max: 300

[manual_stepper stepper_zp]
step_pin:z02:PD0
dir_pin:z02:PD1
enable_pin: !z02:PC13
endstop_pin: z02:PB6
microsteps: 8
position_endstop: 0
rotation_distance: 39.99
homing_speed: 50
accel:800
velocity:250

[manual_stepper stepper_p]
step_pin: p01:PD0
dir_pin: p01:PD1
enable_pin: !p01:PD2
endstop_pin: p01:PB6
microsteps: 16
position_endstop: 0
rotation_distance: 5.08      
homing_speed: 5
accel:300
velocity:10

[manual_stepper stepper_g]
step_pin: g01:PD0
dir_pin: g01:PD1
enable_pin: !g01:PD2
endstop_pin: !g01:PB5
microsteps: 16
rotation_distance: 1
position_endstop: 0
homing_speed: 8
accel:50
velocity:5

[manual_stepper stepper_gr]
step_pin: g02:PD0
dir_pin: g02:PD1
enable_pin: !g02:PD2
endstop_pin: !g02:PB5
microsteps: 16
rotation_distance: 1
position_endstop: 0
homing_speed: 8
accel:50
velocity:5

[manual_stepper stepper_r]
step_pin: r01:PD0
dir_pin: r01:PD1
enable_pin: !r01:PD2
endstop_pin: r01:PB6
microsteps: 16
rotation_distance: 0.277777778 #gear ratio  20:72
position_endstop: 0
homing_speed: 2
accel:20
velocity:2


#####################################################################
# MCU TMC chip setting
#####################################################################

[tmc2209 stepper_x]
uart_pin: PA15       
interpolate: True      
run_current: 2.0
hold_current: 0.6    
sense_resistor: 0.110     
stealthchop_threshold: 0.5

[tmc2209 stepper_y]
uart_pin: y01:PA15         
interpolate: True         
run_current: 1.5     
hold_current: 0.4        
sense_resistor: 0.110       
stealthchop_threshold: 0.5

[tmc2209 stepper_z]
uart_pin: z01:PA15         
interpolate: True         
run_current: 1.4     
hold_current: 0.5    
sense_resistor: 0.110       
stealthchop_threshold: 0.5

[tmc2209 manual_stepper stepper_zp]
uart_pin: z02:PA15        
interpolate: True         
run_current: 1.4      
hold_current: 0.7    
sense_resistor: 0.110       
stealthchop_threshold: 0.5

[tmc2209 manual_stepper stepper_p]
uart_pin: p01:PA15        
interpolate: False         
run_current: 1.2         
hold_current: 0.15       
sense_resistor: 0.110       
stealthchop_threshold: 0.5 

[tmc2209 manual_stepper stepper_g]
uart_pin: g01:PA15               
interpolate: True               
run_current: 1.2          
hold_current: 0.15             
sense_resistor: 0.110           
stealthchop_threshold: 0.5   

[tmc2209 manual_stepper stepper_gr]
uart_pin: g02:PA15                 
interpolate: True               
run_current: 1.2              
hold_current: 0.15             
sense_resistor: 0.110           
stealthchop_threshold: 0.5   

[tmc2209 manual_stepper stepper_r]
uart_pin: r01:PA15               
interpolate: True               
run_current: 1               
hold_current: 0.1            
sense_resistor: 0.110           
stealthchop_threshold: 10



 

