
#####################################################################
# motor base setting
#####################################################################
[printer]
kinematics: cartesian
#RB 大转盘速度：
max_velocity: 2
max_accel: 0.1

#RB 大转盘 大转盘永远走逆时针

[stepper_x]
step_pin:PD0
dir_pin:PD1
enable_pin: !PD2
endstop_pin: PB6
microsteps: 16
gear_ratio: 176:22
rotation_distance: 1
position_endstop: 0
homing_speed: 0.04
position_min: -9999
position_max: 1
homing_retract_dist: 0.1
homing_retract_speed: 0.02

#Y虚拟轴 不需要配置 
[stepper_y]
step_pin: PC5
dir_pin: PC6
enable_pin: !PC7
endstop_pin: PC8
microsteps: 16
gear_ratio: 72:20
rotation_distance: 1
position_endstop: 0
homing_speed: 0.08
position_min: -9999
position_max: 1
homing_retract_dist: 0.2
homing_retract_speed: 0.2

# this axis 配置虚拟轴 不需要配置

[stepper_z]
step_pin: PC0
dir_pin: PC1
enable_pin: !PC2
endstop_pin: PC4
microsteps: 16
position_endstop: 0
rotation_distance: 39.99
homing_speed: 30
position_max: 300



# RS 小转盘 小转盘永远走顺时针
[manual_stepper stepper_rs]
step_pin: y01:PD0
dir_pin: y01:PD1
enable_pin: !y01:PD2
endstop_pin: y01:PB6
microsteps: 8
position_endstop: 0
rotation_distance: 0.277777778 #gear ratio  20:72
accel:2
velocity:1


# 培养皿输入推杆轴
[manual_stepper stepper_z_in]
step_pin:z01:PD0
dir_pin:z01:PD1
enable_pin: !z01:PD2
endstop_pin: z01:PB6
microsteps: 8
position_endstop: 0
rotation_distance: 39.99
homing_speed: 30
accel:1000
velocity:200

[manual_stepper stepper_z_out]
step_pin:z02:PD0
dir_pin:z02:PD1
enable_pin: !z02:PD2
endstop_pin: z02:PB6
microsteps: 8
position_endstop: 0
rotation_distance: 39.99
homing_speed: 30
accel:1000
velocity:200

[manual_stepper stepper_p]
step_pin: p01:PD0
dir_pin: p01:PD1
enable_pin: !p01:PD2
endstop_pin: p01:PB6
microsteps: 16
position_endstop: 0
rotation_distance: 1
homing_speed: 5
accel:10
velocity:10

[manual_stepper stepper_g]
step_pin: g01:PD0
dir_pin: g01:PD1
enable_pin: !g01:PD2
endstop_pin: g01:PB6
microsteps: 8
rotation_distance: 1.27
position_endstop: 0
homing_speed: 12.7
accel:127
velocity:16



#####################################################################
# MCU TMC chip setting
#####################################################################

[tmc2209 stepper_x]
uart_pin: PA15       
interpolate: True      
run_current: 2.0
hold_current: 0.3  
sense_resistor: 0.110     
stealthchop_threshold: 99999

#Y 虚拟轴--------------------------------
[tmc2209 stepper_y]
uart_pin: PC11       
interpolate: True         
run_current: 2.0     
hold_current: 0.6       
sense_resistor: 0.110       
stealthchop_threshold: 99999

# stepper_z 虚拟轴 不需要配置
[tmc2209 stepper_z]
uart_pin: PC15        
interpolate: True         
run_current: 1     
hold_current: 0.4 
sense_resistor: 0.110       
stealthchop_threshold: 0.5
#-----------------------------------------

# RS 小转盘
[tmc2209 manual_stepper stepper_rs]
uart_pin: y01:PA15        
interpolate: True         
run_current: 1.8    
hold_current: 0.5
sense_resistor: 0.110       
stealthchop_threshold: 9999

[tmc2209 manual_stepper stepper_z_in]
uart_pin: z01:PA15        
interpolate: True         
run_current: 1.8   
hold_current: 0.8
sense_resistor: 0.110       
stealthchop_threshold: 9999

[tmc2209 manual_stepper stepper_z_out]
uart_pin: z02:PA15        
interpolate: True         
run_current: 1.8
hold_current: 0.8
sense_resistor: 0.110       
stealthchop_threshold: 9999

[tmc2209 manual_stepper stepper_p]
uart_pin: p01:PA15        
interpolate: False         
run_current: 2       
hold_current: 1.5    
sense_resistor: 0.110       
stealthchop_threshold: 0
interpolate: False

[tmc2209 manual_stepper stepper_g]
uart_pin: g01:PA15               
interpolate: True               
run_current: 1          
hold_current: 0.2            
sense_resistor: 0.110           
stealthchop_threshold: 0.1 



 

