#####################################################################
# MCU 地址设置 
#updated 2024-07-10
#product TD-1200
#SN: 2025011# 

#####################################################################
#X:396.500 Y:349.500 Z:160.000 P25 E:8
# See docs/Config_Reference.md for a description of parameters.
[mcu]
canbus_uuid:798a43483ced
[mcu y01]
canbus_uuid:be4bb3582585
# # main Z0 is ZG for pipette
[mcu z01]
canbus_uuid:c9360aca8b72
# # Z02 is ZP for tube griper 
[mcu z02]
canbus_uuid:617189ff1ca1
# # P01 is pipette
[mcu p01]
canbus_uuid:666258a25771
# # g01 is griper motor  on the Z axis   --->g 
[mcu g01]
canbus_uuid:bf7e4b20fff1
# # g02  is griper motor  on the r axis for the decaper module
[mcu g02]
canbus_uuid: eb700c8c6ff7
# # R01 is rotation motor for the decaper module
[mcu r01]
canbus_uuid: 0cc031d26f68

# # R01 is rotation motor for the decaper module
#[mcu w01]
#canbus_uuid: d6003fc00834

