#####################################################################
# MCU 地址设置 
#updated 2024-07-10
#product TD-1200
#SN: 2025011# 

#####################################################################
#X:396.500 Y:349.500 Z:160.000 P25 E:8 55b64e93e549
# See docs/Config_Reference.md for a description of parameters.
#X--RB 物料仓大转盘
[mcu]
canbus_uuid:eafdfa406a84
#Y--RS 物料仓小转盘
[mcu y01]
canbus_uuid:d1809beb6415
# main Z01 出料 Z 轴
[mcu z01]
canbus_uuid:7936fc8f2811
# Z02 入料 Z 轴
[mcu z02]
canbus_uuid:f7ebd5bd6eb2
# 蠕动泵泵液轴
[mcu p01]
canbus_uuid:5ec56e916fff
# g01 is 培养皿抓取轴
[mcu g01]
canbus_uuid:173fb83510d0


