# Version: 1.0.0 (2024-05-15)
# 机器人配置文件 - 使用冒号格式

# 管理界面登录密码
admin_password: 55555

#配置当前泵的最大转速 单位 rev/s
max_pump_01_speed: 6.0

# 其他参数
#每列最大培养皿数 
max_dish_per_column: 40        # 每列最大培养皿数

#每次填充空管液体需要体积 单位 ml
tube_filling_volume: 10.0
min_tube_filling_volume: 1.0
max_tube_filling_volume: 100.0
tube_filling_speed: 6.0

#液体回流功能参数 单位 ml
process_end_back_volume: 99.0
min_process_end_back_volume: 1
max_process_end_back_volume: 100.0
process_end_back_speed: 6.0

#清洗管路需要需要体积 单位 ml
tube_cleaning_volume: 100.0
min_tube_cleaning_volume: 1.0
max_tube_cleaning_volume: 200.0
tube_cleaning_speed: 8.0

#紫外灯手动灭菌参数：（用于手动灭菌时设置）
#紫外灯运行时间 单位 分钟
uv_light_run_time: 120
#紫外灯最大运行时间 单位 分钟
max_uv_light_run_time: 120
#紫外灯最小运行时间 单位 分钟
min_uv_light_run_time: 1


