#####################################################################
#teaching point
#Row--X axis dircetion
#Col--Y axis dircetion
#####################################################################
[gcode_macro USER_VARIABLE]

#电机回原点补偿量 unit: mm
variable_z_in_home_offset:2
variable_z_out_home_offset:2.5
#角度=360 * 修正值  例如：0.1 代表 修正  36度
variable_rs_home_offset:-0.059
variable_rb_home_offset:-0.041

# 电机回原点速度 unit: mm/s
variable_z_in_home_speed:20
variable_z_out_home_speed:20
#电机回原点最大距离距离 unit: mm
variable_z_in_home_distance:140
variable_z_out_home_distance:140

# 切换大转盘推料杆达到位置 unit: mm
variable_z_in_top_pos: 107
variable_z_out_top_pos: 107

# 推杆到达底部位置 unit: mm
variable_z_in_bottom_pos: 0.2
variable_z_out_bottom_pos: 0.2

# 进料顶杆下移到夹爪位置补偿量 unit: mm  （实际位置为下移一个托盘的位置再加上这个值 Z_in 走 17mm正好能够满足这个需求） 这个值越大
# 夹爪爪的培养皿相对底部越靠上
variable_z_in_griper_offset: 2

# 出料顶杆退料补偿量 释放卡扣位置 绝对位置 unit: mm
variable_z_out_release_pos: 140

#90mm 为基准 卡尺量取培养皿底部直径  87.4  
#夹爪回原点后走2.6mm 就抓紧托盘底部了
variable_gripper_close_pos: 6.8
variable_gripper_open_pos:0.2

variable_gripper_home_distance:11
variable_gripper_home_offset: 3
#G motor @800 rpm
variable_gripper_speed: 12.7

#速度参数： unit: rotation/s
variable_rs_mov_speed: 0.4
variable_rs_home_speed: 0.1


variable_rb_mov_speed: 0.04


#培养皿参数 培养皿参数
variable_petri_dish_height: 16
#培养皿底部直径
variable_petri_dish_diameter: 87.4


variable_z_in_speed: 250
variable_z_out_speed: 250

# 纯水环境下管子泵液体积/泵旋转 1 圈 体积单位：ml
variable_pump_speed: 4   #单位 转/s
variable_pump_tube_factor: 1.45
# 不同的液体修正体积因子
variable_pump_liquid_factor: 1




gcode:

 