#####################################################################
#teaching point
#Row--X axis dircetion
#Col--Y axis dircetion
#####################################################################
[gcode_macro USER_VARIABLE]

# tech point at Tube rack_a Base on zg axis (griper)---slotA  
variable_rack_a_base_x:7
variable_rack_a_base_y:19
variable_rack_a_base_zg:158

# tech point at decap  Base on zg axis (griper)
variable_decap_base_x:499
variable_decap_base_y:4.8
variable_decap_base_zg:42

# tech point at drop tube cap tube Base on zg axis (griper)
variable_dropcap_base_x:501
variable_dropcap_base_y:123
variable_dropcap_base_zg:67



# tech point at Tube rack_b (in the sonic )Base on zp axis (griper)
variable_pipette_base_x:111.4
variable_pipette_base_y:79.5
variable_pipette_base_zp:149

# 退瓶子和红色胶垫的位置，  废液槽相对这个位置X方向正方向增加25mm
variable_dispense_base_x:52
variable_dispense_base_y:51
variable_dispense_base_zp:117
# tech point ZG abs safty postion 

# 清洗针的位置：
variable_clean_tank_x:54
variable_clean_tank_y:240
variable_clean_tank_zp:140


variable_zp_safty_pos:5
variable_zg_safty_pos:20

variable_dropcap_offset_x = 30
variable_grip_tubebody_offset_zg = 10

# tech point Parking Position in the waste liquid tank , must to be the pipette in the tack;

variable_parking_pos_x:30
variable_parking_pos_y:62
variable_parking_pos_zg:50
variable_parking_pos_zp:126

#slot space defintion
variable_slot_row_spacing:145
variable_slot_col_spacing:110
# rack a and b space defintion

variable_rack_row_spacing:16.5
variable_rack_col_spacing:15.5


gcode:

 